<ion-modal-view>
  <ion-header-bar>
    <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="closeModalAddFriends()"></a>
    <h1 class="title">Ajouter des amis</h1>
    <a class="button icon-right ion-checkmark-round button-clear button-dark" ng-click="addFriends()"></a>
  </ion-header-bar>
  <ion-content padding="true">
    <ion-list>
      <ion-checkbox ng-model="checkFriends[friend.id]" ng-repeat="friend in friendsToAdd">{{friend.lastname}} {{friend.firstname}}</ion-checkbox>
    </ion-list>
  </ion-content>
</ion-modal-view>
